body {
  font-family: arial;
}

.done {
  text-decoration: line-through;
  color: gray;
  font-style: italic;
}

#filters {
  margin-top: 5px;
}

#todoes {
  height: 300px;
  overflow: auto;
}

.selected-filter {
  background-color: white;
  color: red;
}

.hidden {
  display: none;
}